<div class="wrapper d-flex flex-column flex-md-row justify-content-around align-items-center">
  <div class="d-flex flex-column">
    <h1>Contact</h1>
    <div class="form-group">
      <label><i class="fa fa-envelope-square"></i></label>
      <a [href]="emailString" [innerHTML]="contact.email"></a>
    </div>
    <div class="form-group">
      <label><i class="fa fa-phone-square"></i></label>
      <span [innerHTML]="contact.phone"></span>
    </div>
    <div class="form-group">
      <label class="audrey">KVK</label>
      <span class="audrey" [innerHTML]="contact.chamberOfCommerce"></span>
    </div>
    <div class="form-group">
      <label class="audrey">BTW</label>
      <span class="audrey" [innerHTML]="contact.vatNumber"></span>
    </div>

  </div>
  <div>
    <img class="polaroid" src="../../assets/images/polaroid-buckets.jpg" alt="polaroid-buckets">
  </div>
</div>


