
/* ----------- CUSTOM -------------
   ---------- VARIABLES ----------- */


$brand-primary: #826140;
$brand-secondary: #D3CDC0;
$black: #534A41;
$beige: beige;


$font-base: 14px;
$font-size-l: 24px;
$font-size-m: 18px;
$font-size-s: 12px;
$font-size-xs: 10px;
