/* --------------------------
-------- MONTSERRAT ---------
--------------------------- */


@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  src: url('assets/fonts/Montserrat-Italic.woff') format('woff');
}

@font-face {
  font-family: Montserrat;
  font-weight: 100;
  src: url("assets/fonts/Montserrat-Thin.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: url("assets/fonts/Montserrat-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("assets/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url("assets/fonts/Montserrat-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-weight: 900;
  src: url("assets/fonts/Montserrat-Black.woff") format("woff");
}

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: url("assets/fonts/Montserrat-BlackItalic.woff") format("woff");
}

/* --------------------------
---------- AUDREY -----------
--------------------------- */

@font-face {
  font-family: "Audrey";
  src: url("assets/fonts/Audrey-Normal.woff") format('woff');
}

@font-face {
  font-family: Audrey;
  font-style: oblique;
  src: url("assets/fonts/Audrey-NormalOblique.woff") format("woff");
}

@font-face {
  font-family: Audrey;
  font-weight: 700;
  src: url("assets/fonts/Audrey-Medium.woff") format("woff");
}

@font-face {
  font-family: Audrey;
  font-style: oblique;
  font-weight: 700;
  src: url("assets/fonts/Audrey-MediumOblique.woff") format("woff");
}

@font-face {
  font-family: Audrey;
  font-weight: 900;
  src: url("assets/fonts/Audrey-Bold.woff") format("woff");
}

@font-face {
  font-family: Audrey;
  font-style: oblique;
  font-weight: 800;
  src: url("assets/fonts/Audrey-BoldOblique.woff") format("woff");
}
